    .container  {
		
                background-image: url('birojsbackground.gif');
    }
    
    .header {
                height: 124px;
    }
    
    .headerLeft {
                width: 311px;
                height: 124px;
                background-image: url('birojsheaderleft.gif');
				cursor: pointer;
    }
    
    .headerMiddle   {
                width: 129px;
                height: 124px;
                background-image: url('birojsheadermiddle.gif');
    }
    
    .headerRight    {
                width: 360px;
                height: 124px;
                background-image: url('birojsheaderright.gif');
    }
    
    .top    {
                    background-image: url('birojstop.gif');
                    background-color: #c38595;
    }
    
    .middle {
                    background-color: #c38595;
    }
    
    .bottom {
                    background-color: #c38595;
    }
    
    .leftButton {
                    background-image: url('birojsbutton1.gif');
    }
    
    .leftButton:hover   {
                    background-image: url('birojsbutton2.gif');
    }
    
    .selected   {
                    background-image: url('birojsbutton3.gif');
    }
    
    .pageTop    {
                    background-image: url('birojspagetop.gif');
				}
	
	.linkCell {
								background-color: #c38595;
								margin-left:0px;
								margin-top:-3px;
					}
    
    .pageBottom {
                    background-image: url('birojspagebottom.gif');
    }
    
    .bottomShadow   {
    }